body, ul, li,a {
 margin: 0;
 padding: 0;
 list-style: none;
}
.menu{
 background: rgba(38,37,36, 0.9);
 padding:0px;
}
.menu a{
 display: block;
 text-decoration: none;
 padding: 14px 50px;
 color: #262524;
 border: 1px solid #1d2531;
 font-family: 'robotoregular';
 font-size:14px;
 text-transform:capitalize;

 
}
.menu li{
 position: relative;
}
.menu li ul{
 display: block;
 background: rgba(0, 0, 0, 0.6);
 max-height: 0;
 overflow: hidden;
}
nav{
  max-height:50px;
 overflow: hidden;
}
.menu-btn{
 background: #009746;
 text-align: left;
 cursor: s-resize;
 font-family: 'robotoregular';
 font-size:14px; 
 color:#fff;
 text-transform:capitalize;

}
.menu-btn img{
 vertical-align: middle;
 height: 50px;
}
.menu-open,
.menu .open > ul{
 max-height: 2000px;
}
.menu .open > .more img{
 transform: rotate(-90deg);
}
.more img{
 height: 47px;
}
.more{
 background: rgba(0, 0, 0, 0.38);
 float: right;
 cursor: move; display:block;
}

@media all and (min-width: 768px){
nav{
 max-height: 100%;
 overflow: visible;
}
.menu-btn{
 display: none;
}

.menu a{ 
 background: #232d3b;
}
.menu a:hover{
background:#009746;
color:#fff;
}
.menu > li{
 float:left;
 margin: 0 0px;
}
.menu li ul{
 left: -9999px;
 position:absolute;
 overflow: visible;
 z-index:99;
}
.menu > li > ul ul{
 top: 0;
}
.menu li:hover > ul{
 left:100%; 
}
.menu > li:hover > ul{
 left: 0;
}
.menu .open > ul{
 left:100%; 
}
.menu > li.open > ul{
 left: 0;
}

.more{
 display:none;
}

.menu a{background:none; border:none;}

.menu ul{
	background:#333 !important;
	min-width:170px;
	max-height:inherit !important;
	}
.menu ul ul{
	background:#333 !important;
	min-width:170px;
	max-height:inherit !important;
	}	
	
.menu li li a	{font-size:14px; padding:7px 15px; color:#fff;}

.menu > li{position:relative;}
.menu > li:after{
	background: #D8D8D8;
    content: "";
    height: 46px;
    position: absolute;
    top: 0px;
    width: 1px;
	left:0px;
	}
	
.menu > li:first-child::after {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
}
	
}
.box{
    height: 300px;
    background: hotpink;
}

.box p{
  padding: 30px;
  font-family:verdana;
  text-align:center;
  font-size:24px;
}
.box a{
  color:#fff;
  text-decoration:none;
}

