
.footer-icons li
{
	padding-right:0px !important;
}
.blog-excerpt-inner p.expert
{
	height:60px;
	max-height:60px;
	min-height:60px;
	overflow:hidden;
}
.item .blog-excerpt-inner h2
{
	height:28px;
}
